body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calc {
    background-color: #3A3B3C;
    height: 500px;
    width: 400px;
    border-radius: 5px;
}

.display {
    background-color: whitesmoke;
    margin: 25px;
    padding: 25px;
    border: 5px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: end;
}

.buttons {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}